.boxWrapper {
  cursor: pointer;
  padding: 3rem 2rem 3rem 2rem;
  border-radius: 0px 20px 0px 20px;
  height: 15rem;
  overflow: auto;
  border: 1px solid #e5e5e5;
  box-shadow: 9px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin-bottom: 18px;
}

.boxWrapper:hover {
  background-color: #95c9e3;
  transition: 0.2s ease-in-out;

  scale: 0.99;
}

.reviewMsg {
  padding-top: 1rem;
  border-top: 1px solid black;
}

.profileInfo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.name {
  font-family: poppins;
  font-weight: 600;
}

.profileImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.profileWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
